body {
  font-size: .875rem;
  font-family: 'Montserrat', sans-serif;
  min-height: calc(100vh - 70px) !important;
  height: calc(100vh - 70px) !important;
  background: #ffffff !important;
  color: #000000;
}
/*
 * Utilities
 */
.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }


#jumbo {
  padding: 5px;
}

.big-icons {
  width: 100px ;
}



.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -25px;
  right: -25px;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 2;
  }
}


