html, body {
  background-color: #222629;
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  min-width: 100%;
  font-family: 'Montserrat', sans-serif;

}


img.navbar-brand {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.navbar{
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

