<body>
<nav class="navbar navbar-expand-lg navbar-dark" style= "background-color: #222629; z-index: 9999">
  <a class="navbar-brand" routerLink="/home">
    <img src="../assets/img/smalliconlogo.png" width="50" height="50" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation"
          (click)="toggleCollapsed()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
    <!--To center these navbar buttons-->
    <ul class="navbar-nav ml-auto mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active" style="font-size: 1.3em">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/scrawlers" routerLinkActive="active" style="font-size: 1.3em">Active sCrawlers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" style="font-size: 1.3em">Download sCrawler</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" style="font-size: 1.3em">System Status</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" style="font-size: 1.3em">About</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>


<!--Background-->

<!--&lt;!&ndash;Controls the spinner&ndash;&gt;-->
<!--<spinner-->
<!--[spinner]="spinkit.skChasingDots"-->
<!--[debounceDelay]="150"-->
<!--&gt;</spinner>-->

<!--Changes color of active tab-->
<script>
  $(".nav li").on("click", function () {
    $(".nav li").removeClass("active");
    $(this).addClass("active");
  });
</script>


<!--For Displaying the charts-->
<script src="../../node_modules/chart.js/src/chart.js"></script>


