
html{
  height: 100vh;
  min-height: 100vh;
  margin:0;
  width: 100%;
  min-width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #222629 !important;
}

img.navbar-brand {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.navbar{
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  min-height: 70px !important;
  position: absolute;
}


body{
  overflow: auto;
  padding-top: 70px;
  background-color: #222629 !important;
}
