<body class="text-center">
<div class="h-100 row align-items-center mx-auto">
  <div class="col" style="background:rgba(35, 38, 41, 0.6); max-width: 100%; height: auto; z-index: 999">
    <img class="mb-4 mt-4" src="../../assets/img/mainlogo.png" width="850" height="150" style="max-width: 100%; height:
    auto;">
    <p class="lead mb-3">Manage multiple sCrawlers at the same time! </p>
    <a class="btn btn-link mb-3" style="text-decoration: none !important; font-size: 1.25rem !important;"
       (click)="learnMoreText()">Click here to learn more.
    </a>
    <div class="col-sm-12 text-center">
      <button id="btnLogin" class="btn btn-lg btn-secondary center-block mr-sm-4  mb-4" Style="width: 150px;"
              routerLink="/login">Log in
      </button>
      <button id="btnRegister" class="btn btn-lg btn-secondary center-block  mb-4" Style="width: 150px;"
              routerLink="/register">Register
      </button>
    </div>
  </div>
</div>
<!--Particles-->
<div>
  <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
</div>

<div class="footer">
  <p>Developed & Designed by Rafael Castro - <a href="https://github.com/rafaelcastrorc">GitHub</a>.</p>
</div>
</body>










