/*
 * Globals
 */

body, html {
  font-family: 'Montserrat', sans-serif;
  overflow: auto;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #ffffff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #86C232;
  border: .05rem solid #86C232;
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/*On click*/
.btn-secondary:active {
  background-color: #61892F !important;
}

#btnLogin,
#btnRegister {
  display: inline-block;
  vertical-align: top;
}

/*
 * Base structure
 */
body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: url("../../assets/img/713.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: calc(100vh - 70px) !important;
  height: calc(100vh - 70px) !important;
  width: 100%;
  min-width: 100%;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

/*
 * Footer
 */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgba(255, 255, 255, .5);
  text-align: center;
  z-index: 998
}


