<body class="text-center mt-autoh">
<!--Main error message-->

<form class="form-signin" (submit)="registerUser($event)" #signinForm="ngForm">
  <img class="mb-4" src="../../assets/img/smalliconlogobg.svg" alt="" width="72" height="72">

  <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
  <div *ngIf="thereWasAnError" class="alert alert-danger alert-dismissible fade show">
    {{error}}
    <button (click)="thereWasAnError = false" type="button" class="close" data-dismiss="alert" aria-label="Close"
            style="outline: none !important; box-shadow: none !important">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <label for="inputFirstName" class="sr-only">First name</label>
  <input [(ngModel)]="inputFirstNameText" name="inputFirstName" #inputFirstName="ngModel" type="text"
         id="inputFirstName"
         class="form-control" placeholder="First name"
         required
         autofocus
         maxlength="30">
  <div *ngIf="inputFirstName.errors && (inputFirstName.dirty || inputFirstName.touched)" class="alert alert-danger">
    <div [hidden]="!inputFirstName.errors.required">
      You need to write your first name!
    </div>
  </div>

  <label for="inputLastName" class="sr-only">Last name</label>
  <input [(ngModel)]="inputLastNameText" name="inputLastName" #inputLastName="ngModel" type="text" id="inputLastName"
         class="form-control"
         placeholder="Last name"
         required
         min="2"
         maxlength="30">
  <div *ngIf="inputLastName.errors && (inputLastName.dirty || inputLastName.touched)" class="alert alert-danger">
    <div [hidden]="!inputLastName.errors.required">
      You need to write your last name!
    </div>
  </div>


  <label for="inputEmail" class="sr-only">Email address</label>
  <input [(ngModel)]="inputEmailText" name="inputEmail" #inputEmail="ngModel" type="email" id="inputEmail"
         class="form-control"
         placeholder="Email address"
         required
         email>
  <div *ngIf="inputEmail.errors && (inputEmail.dirty || inputEmail.touched)" class="alert alert-danger">
    <div [hidden]="!inputEmail.errors.required">
      You need to write your email!
    </div>
    <div [hidden]="!inputEmail.errors.email">
      This is not a valid email!
    </div>
  </div>


  <label for="inputPassword" class="sr-only">Password</label>
  <input [(ngModel)]="inputPasswordText" name="inputPassword" #inputPassword="ngModel" type="password"
         id="inputPassword"
         class="form-control"
         placeholder="Password"
         required
         pattern="^(?=.*[0-9])(?=.*[A-Za-z])\S{8,}">
  <div *ngIf="inputPassword.errors && (inputPassword.dirty || inputPassword.touched)" class="alert alert-danger">
    <div [hidden]="!inputPassword.errors.required">
      You need to write your password!
    </div>
    <div [hidden]="!inputPassword.errors.pattern">
      Your password needs to have a minimum of eight characters, at least one letter and one number.
    </div>
  </div>

  <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!signinForm.form.valid"
          style="outline: none !important; box-shadow: none !important; ">Register
  </button>
</form>

</body>
<div class="footer">
  <p>Developed & Designed by Rafael Castro - <a href="https://github.com/rafaelcastrorc">GitHub</a>.</p>
</div>



