html,
body {
  min-height: calc(100vh - 70px) !important;
  height: calc(100vh - 70px) !important;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  overflow: auto;
  background-color: #474B4F;


}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #474B4F;
}

/* Custom default button */
.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  color: #ffffff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #86C232;
  border: .05rem solid #86C232;
  padding: .75rem 1.25rem;
  font-weight: 700;
  outline: none !important;


}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

/*On click - Removes blue glow*/
.btn-primary:active {
  background-color: #61892F !important;
  outline: none !important;
  border: .05rem solid #61892F !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  color: #fff1f8;
  background: #6B6E70;
}

/*Change place holder color*/
.form-control::-webkit-input-placeholder { color: #b4b4b4; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #b4b4b4; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #b4b4b4; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #b4b4b4; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #b4b4b4; }  /* Microsoft Edge */

.form-signin .form-control:focus {
  border-color: #86C232;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(134, 194, 50, 0.6);
  z-index: 2;
}
.form-signin input[name="inputFirstName"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[name = "inputLastName"] {
  border-radius: 0;
}
.form-signin input[type="email"] {
  border-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/*
 * Footer
 */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgba(255, 255, 255, .5);
  text-align: center;
}
